$loginButton: aquamarine;
$logoutButton: rgb(255, 127, 127);
$editButton: rgb(53, 250, 184);
$deleteButton: rgb(255, 65, 65);

@mixin buttonStyle($backgroundColor){
    width: 60px;
    height: auto;
    background-color: $backgroundColor;
    padding: 3px;
}